@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(246, 230, 200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centralizado {
  text-align: center;
}

.titulo {
  color: rgb(122, 78, 76);
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}

.formCadastro {
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
}

.formAvaliacao {
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 20px;
  text-align: center;
}

.fontBold{
  font-weight: bolder;
}

.data {
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 20px;
  position: absolute;
  top: 165px;
  right: 250px;
}

.alinharEsquerda{
  position: absolute;
  top: 165px;
  right: 1000px;
}

.alinharColuna{
  position: absolute;
  top: 570px;
  right: 1180px;
}

.alinharDireita{
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: 180px;
  right: 450px;
}
.alinharTabela{
  padding: 75px;
  text-align: center;
}

.alinharObs{
  position: absolute;
  top: 900px;
  right: 1132px;
}

.alinharTabelaPesquisa{
  padding: 40px;
  text-align: center;
}

.resultadosPesquisa {
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 20px;
}

.inputCadastro{
  margin-top: 8px;
  width: 380px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputAvaliacao{
  margin-top: 8px;
  width: 800px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputQueixa{
  margin-top: 8px;
  width: 760px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputColuna{
  margin-top: 8px;
  width: 550px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputArt{
  margin-top: 8px;
  width: 715px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.texteAreaObs{
  margin-top: 12px;
  width: 900px;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
  resize: none;
}

select {
  margin-top: 8px;
  width: 130px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

hr{
  border: 5px solid rgb(122, 78, 76);
  width: 100%;
}

tr{
  background-color: rgba(246, 230, 200);
  border-color: rgba(246, 230, 200);
}

th{
  color: rgb(122, 78, 76);
  font-size: 18px;
}

td{
  color: rgb(122, 78, 76);
}

.linhaTabela:hover {
  box-shadow: 0 0.3em 1em -0.5em #7a4e4c;
  background-color: #0a0a0a15;
}

.tamanhoColuna{
  width: 800px;
  text-align: center;
  margin: auto;
}

.inputCardio{
  margin-top: 8px;
  width: 740px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputDermato{
  margin-top: 8px;
  width: 770px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputVasc{
  margin-top: 8px;
  width: 775px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputAltera{
  margin-top: 8px;
  width: 690px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

.inputMat{
  margin-top: 8px;
  width: 750px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}