@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(246, 230, 200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centralizado {
  text-align: center;
}

.titulo {
  color: rgb(122, 78, 76);
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}

.alinharDireita {
  text-align: center;
}

.formCadastro {
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 25px;
  text-align: center;
}

.resultadosPesquisa {
  color: rgb(122, 78, 76);
  font-family: inherit;
  font-size: 20px;
  text-align: center;
}

input[type="text"] {
  margin-top: 8px;
  width: 380px;
  height: 17px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),
    0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

select {
  margin-top: 8px;
  width: 130px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.35),0 2px 0 hsla(0, 0%, 100%, 0.15);
  color: rgb(122, 78, 76);
  font-size: 18px;
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}
